@model Nice_Admin_1.Models.CustomerModel
<div class="pagetitle">
    <h1>@(Model.CustomerID > 0 ? "Edit " : "Add ")Customer</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Customer</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form class="row g-3 py-3" asp-action="CustomerSave">
                        @Html.HiddenFor(x => x.CustomerID)
                        <div asp-validation-summary="ModelOnly"></div>

                        <div class="col-12">
                            <label for="inputNanme4" class="form-label">Customer Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="inputNanme4" asp-for="CustomerName">
                            <span asp-validation-for="CustomerName" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="inputNanme4" class="form-label">Home Address <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="inputNanme4" asp-for="HomeAddress">
                            <span asp-validation-for="HomeAddress" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="inputNanme4" class="form-label">Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="inputNanme4" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="inputNanme4" class="form-label">Mobile No. <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="inputNanme4" asp-for="MobileNo">
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="inputNanme4" class="form-label">GST NO <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="inputNanme4" asp-for="GSTNO">
                            <span asp-validation-for="GSTNO" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="inputNanme4" class="form-label">City Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="inputNanme4" asp-for="CityName">
                            <span asp-validation-for="CityName" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="inputNanme4" class="form-label">Pin Code <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="inputNanme4" asp-for="PinCode">
                                <span asp-validation-for="PinCode" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="inputNanme4" class="form-label">Net Amount <span class="text-danger">*</span></label>
                            <input type="number" class="form-control" id="inputNanme4" asp-for="NetAmount">
                            <span asp-validation-for="NetAmount" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="inputNanme4" class="form-label">User Name <span class="text-danger">*</span></label>
                            <select id="inputState" class="form-select" asp-for="UserID" aria-label="Default select example" asp-items="@ViewBag.UserList">
                                <option value="">Select an option</option>
                            </select>
                            <span asp-validation-for="UserID" class="text-danger"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}